<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../socket.io-client/dist/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  </head>
  <body>
    <div>
      <input id="hostId"><button onclick="joinRoom()">참가하기</button>  
    </div>
    <br>
    <div>
      <canvas id="hostScreen" style="border: solid 1px black;" height="720" width="1280"></canvas>
    </div>
    <script src="../javascripts/bundle.js"></script>
  </body>
</html>
